<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hp.redreader.com">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.jess.arms.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- <meta-data -->
        <!-- android:name="design_width" -->
        <!-- android:value="720" /> -->
        <!-- <meta-data -->
        <!-- android:name="design_height" -->
        <!-- android:value="1280" /> -->

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

        <!-- arms配置 -->
        <meta-data
            android:name="hp.redreader.com.app.GlobalConfiguration"
            android:value="ConfigModule" />

        <activity
            android:name=".mvp.ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ViewBigPicTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyScrollPage" />
        <activity
            android:name=".mvp.ui.activity.webview.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.wan.ArticleListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.menu.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.wan.BookDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.movie.DoubanTopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.movie.OneMovieDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.movie.ViewBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ViewBigPicTheme" />
        <activity
            android:name=".mvp.ui.activity.menu.NavHomePageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomePageTheme" />
    </application>

</manifest>